@import "chic";

body{
	display: inline;
	width: 375px;//1125px;//iphoneXの画面ピクセル1125>1485??でもおかしい。何かがはみ出てる。
	height: 812px;//2214px;//-222px
	font-family: 'ヒラギノ角ゴシック','Hiragino Sans','Superclarendon','Marker Felt',sans-serif;//'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic', fantasy;
	font-size: 1.5rem;
	line-height: 1.6rem;
	color: $chic_style_color;//rgba(140, 83, 178, 1);
	@include webkit;
}
img{
	object-fit: cover;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	@include webkit;
}
a.mailto{
	line-height: 1.5rem;
	font-weight: normal;
	font-size: 1.4rem;
	position: relative;
	left: 80%;
	@include webkit;
}
a:link{
	color: snow;
	@include webkit;
}
a:visited{
	color: azure;
	@include webkit;
}
h3{//web title
	line-height: 0rem;
	margin: 2.5rem 0rem 0rem 4.5rem;
	font-size: 2.5rem;
	color: $chic_accsentB;
	@include webkit;
}
h5{
	margin: 3rem 0rem 0rem 1rem;
	font-size: 2rem;
	@include webkit;
}
h6{
	line-height: 0rem;
	margin: 1.3rem 0rem 0rem 3rem;
	font-size: 1.3rem;
	@include webkit;
}
p{
	margin: 1rem 1rem 0rem 1rem;
	white-space: normal;
	line-height: 1.5rem;
	font-size: 1.2rem;
	font-weight: normal;
	@include webkit;
}
.mailto{
	background-color: $chic_style_color;
	@include webkit;
}
input{
	font-size: 16px;//autofocus止まるらしい
	transform: scale(0.9);
}

//タイトル
#titleandmenu{//aboutus
	height: 10vh;//8>15>11
	width: 180vw;//100%?133%;
	position: absolute;//fixed;
	top: 0vh;
	bottom: 0vh;//iphone
	z-index: 50;
	background-color: $chic_style_color;
	@include webkit;
	.fas.fa-bars{
		font-size: 2rem;
		position: absolute;
		top: 35%;
		left: 82%;
		color: $chic_accsentB;
		&:active {//追加。
			transform:rotateY(100deg);
		}
	}
}
.afterdiv{
	top: 44vw;
}
.whatishere{
	height: 183vh;
	width: 180vw;//133%
	position: absolute;
	top: 80vh;//150>131
	background-color: rgba($chic_base ,90%);
	z-index: 30;
	opacity: 0;
	@include webkit;
}
.whatisthere{//whatshereのanime
	//top: 10vh;
	animation  : jumpUp 1.5s ease-in-out forwards;
		@keyframes jumpUp {
			0%{ z-index: 0;
					opacity: 0;
					top: 50vh;}
			100%{ z-index: 40;
					opacity: 1;
					top: 10vh;}}
		//	0% {transform: translateY(100%);
		//	}100% {transform: translateY(0%); }	}
	@include webkit;
}

//メインスペース
#main_wrap{
	position: absolute;//relative;
	width: 180vw;//133%
	height: 93vh;
	overflow-x: scroll;
	top: 9vh;//6>10;
	bottom: 0;//iphone
	//-webkit-overflow-scrolling: touch;
	@include webkit;
}

#main_space{
	position: absolute;//relative
	margin-left: -1vw;//margin:auto 0>left:-1
	top: -1vh;
	padding: 0;
	//overflow-x: auto;スクロール引っかかる
	white-space: nowrap;
	height: 93vh; //90>96>100>155>85
	width: 100%;
	background: $chic_base;
	@include webkit;
	#renban_prev.fas.fa-sort-up{
		position: absolute;
		top: 37.5%;//32vh>37%
		left: 3.1vw;//1.1
		font-size: 4rem;
		transform: rotate(270deg);
	}
	#renban_next.fas.fa-sort-up{
		position: absolute;
		top: 37.5%;//32vh>37%
		right: 0;
		font-size: 4rem;
		transform: rotate(90deg);
	}
	
	#gotoPrev, #gotoNext{
	position: relative;
	height: 30vh;
	width: 110vw;
	top: 21vh;
	left: 6vh;
	text-align: center;
	color: $chic_accsentB;
	background-color: $chic_accsentA;
	border-radius: 11px;
	z-index: 10;
	@include webkit;
	[data-style="gotoStreet"]{
		font-size: 1.7rem;
		display: inline-block;
		position: initial; }
	input[type="submit"]{
		position: relative;
		left: -20vw;
		opacity: 0; }
	}
}
.fa-layers{
	position: absolute;
	top: 32vh; //onTheStreet
	font-size: 6rem;
	z-index: 30;
	@include webkit;
	.fas.fa-splotch{
	color: orangered; }
	span.fa-layers-text{
		position: absolute;
		top: 1.5vh;
		left: 4vw;
		font-size: 3rem; }
}
	#pcsize{
		opacity: 0;
		position: absolute;
		height: 0vh;
	}
	.streetString{
		position: fixed;
		top: 43vh;//45vh;
		left: 7%;
		font-size: 1.1rem;
		color: $chic_accsentB;
		@include webkit;
	}
	.swipeMark{//スワイプマーク今hide();
		position: fixed;
		height: 9vh;
		width: 52vw;
		left: 32%;//26
		top: 41%;//34
	}
	.fas.fa-angle-double-left, .fas.fa-angle-double-right, .far.fa-grin-alt{
		color: $chic_accsentB;
		position: relative;
		font-size: 3rem;
	}
	.grin-alt-base{
    background-color: navy;
    width: 11vw;
    height: 11vw;
    display: inline-block;
    border-radius: 50%;
	}
	.streetAnime2{//arrow右  faa-passing-reverse animated
		animation: streetAnime2 3s normal 3 ease-in-out forwards;//infinite>3
	}
	.streetAnime3{//arrow左  faa-passing-reverse animated
		animation: streetAnime3 3s normal 3 ease-in-out forwards;//infinite>3
	}
	@keyframes streetAnime2 {
  0% {left: +2vw;
			 opacity: 1;
  }
  100% {left: -2vw;
			 opacity: 0;
  }}
	@keyframes streetAnime3 {
  0% {left: -2vw;
			 opacity: 1;
  }
  100% {left: +2vw;
			 opacity: 0;
  }}
	#street{
		position: absolute;
		height: 9vh;//6>9
		left: 9vw;//6
		background-color: $chic_accsentA;
		top: 37%;//32vh>37%
		@include webkit;
	}
	.streetAnime1{
		animation: streetAnime 3s normal 4 ease-in-out;//infinite>4
	}
	@keyframes streetAnime {//つくるーーー！次回！
  0% {height: 9vh;
			 top: 37%;
  }
  100% {height: 10vh;
			 top: 36.5%;
  }	}
  
  //スクロールばー実験＠main_space//
  .scrollbox{
  position: absolute;
  width: 133%;
  height: 91vh;
  overflow: scroll;
	white-space: nowrap;
  }
  .scrollbox::-webkit-scrollbar {//スクロールバーのCSS
	background: blue;
	width: 0%;
	height: 8vh;
	//position: relative;
  //top: 50vh;
	}
	.scrollbox::-webkit-scrollbar-track{
		background: green;
	}
	.scrollbox::-webkit-scrollbar-thumb {//スクロールバー内を移動する棒のCSS
  background-color: red;
  //position: relative;
  //top: 50vh;
  border-radius: 50px;
  height: 50px;
  //width: 15px;
	}
  
  
	.shops{
		position: absolute;
		display: inline-block;
		border-radius: 35%;//50
		box-shadow: 0px 0px 28px -9px rgba(207,235,249,0.76) inset;//0px 0px 36px 8px rgba(210,184,130,0.6) inset;
		width: 12vw;//9>20>12
		height: 15vw;//10>18>15
		font-size: 30px;
		background-size: 101%;
		background-position: 50%;
		background-repeat : no-repeat;
		@include webkit;
	}
span.shop_name{
	top: 0.8vh;
	left: 0.4vw;
	position: absolute;
	white-space: break-spaces;
	font-size: 1rem;//1.4>2.6>2.3
	line-height: 1.1rem;//1.6>2.6
	@include webkit;
}
span.shop_nameMall{
	top: 1.7vh;
	left: 2.7vw;
	position: absolute;
	white-space: break-spaces;
	font-size: 1.2rem;
	letter-spacing: 0rem;
	line-height: 1.5rem;
	@include webkit;
}
	#streetConfirm{
		position: absolute;
		width: 121vw;//79
		height: 50vh;//26
		border: 9px $chic_accsentA solid;
		border-radius: 7vw;
		background-color: rgba($chic_base, 0.9);
		z-index: 50;
		top: 27vh;
		left: 2vw;
		color: $chic_main;
		@include webkit;
	}
	#info_fadeout{
		position: absolute;
		font-size: 4rem;
		top: -6vh;
		left: 88%;
		@include webkit;
	}
	p#streetCon{
	margin-top: 2vh;
	font-size: 2rem;
	text-align: center;
	padding-top: 2vh;
	text-shadow: 10px 10px 15px #fdfcf1, -9px 10px 10px #fdfcf1, -6px -10px 10px #fdfcf1;
	@include webkit;
	}
	.streetOK{
		color: $chic_accsentB;
		position: absolute;
		left: 90%;
		font-size: 1rem;
		width: 10vw;
		background-color: lighten($chic_accsentA, 5%);
		border-radius: 1vh;
		@include webkit;
	}

//#bottom_wrap{
//	position: absolute;
//	//border: 1px black solid;
//	height: 33vh;
//	width: 114%;
//	overflow: scroll;
//	top: 67vh; //69=>67。 }

#bottom_space{
	position: fixed;//relative>fixed
	width: 100%;
	height: 190vh;//33>160>190
	top: 76%;//-26>-42>43>70>66>70>73
	background-color: rgba($chic_base_ex, 80%);//darken($chic_accsentB, 50%);
	@include webkit;
}

#location_button{
	position: absolute;
	width: 100%;
	height: 8vh;
	display: flex;
	@include webkit;
	#kensaku{
		width: 55vh;
	}
	#search_button{
		width: 7.5vh;
		height: 7.5vh;
		right: 13%;//15%;
		top: 2vh;//0.5>3>1.5
		position: absolute;
		background-color: $chic_style_color;
		border-radius: 63%;
	}
	input[type="text"]{
		width: 76vw;//70>76
		height: 6.5vh;//7.5>6.5>9.5
		margin-top: 1.5vh;//0.5>2.5
		margin-left: 14%;//5vh>30%
		font-size: 2rem;
		border-radius: 1vh;
	}
	.fa.fa-search{
		color: $chic_accsentB;
		font-size: 2rem;
	}
	//モバイルのみの機能
	#gps_button{
		position: relative;
		top: 0.5vh;
		left: -1vh;
		border: 1px $chic_main solid;
		width: 7.5vh;
		border-radius: 63%;
		box-shadow: 0px 0px 28px 18px rgba(247,242,245,0.49) inset;
		
		.fas.fa-location-arrow{
			position: relative;
			left: 1.3vw;
			top: 1.4vh;
			font-size: 10vw;
		}
	}//gps
}//location_button



#event_wrap{
	top: 9vh;
	height: 11vh;
	position: relative;
	@include webkit;
	#event_area{
		height: 11vh;
		overflow: hidden;
		position: relative;
		overflow-x: auto;
	}
	#event_carousel{
		position: absolute;
		display: inline-flex;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
		height: 11vh;
		animation  : scrollAnime 12s linear infinite;
	}
	@keyframes scrollAnime {
  0% {transform: translateX(100%);
  }
  100% {transform: translateX(-100%);
  }	}
	
	.event_title{
		display: inline-block;
		height: 10vh;
		width: 40vw;
		border: 7px seashell dotted;
		border-radius: 3vh;
		overflow-x: hidden;
		flex-basis: 40vw;
		color: #fff;
		font-size  : 2rem;
		font-weight: bold;
		animation  : event_titleAnime3 7s linear infinite alternate;
		padding-left: 15px;
		padding-bottom: 3px;
	}
		a.e_title{
			position: relative;
			top: 1.6vh;
		}//カルーセル内のイベント名
		@keyframes event_titleAnime1{
		   0% { text-shadow:  2px  2px 10px #f7e ,
		                     -2px  2px 10px #0fc ,
		                      2px -2px 10px #0fc ,
		                     -2px -2px 10px #0fc;}
		 100% { text-shadow:  2px  2px 10px #777 ,
		                     -2px  2px 10px #777 ,
		                      2px -2px 10px #777 ,
		                     -2px -2px 10px #777;}
		}
		@keyframes event_titleAnime2{
		   0% { text-shadow:  2px  2px 10px #777 ,
		                     -2px  2px 10px #777 ,
		                      2px -2px 10px #777 ,
		                     -2px -2px 10px #777;} 
		 100%{ text-shadow:  2px  2px 10px #f7e ,
		                     -2px  2px 10px #f7e ,
		                      2px -2px 10px #f7e ,
		                     -2px -2px 10px #f7e;}
		}
		@keyframes event_titleAnime3{
		 0% { text-shadow:  2px  2px 6px #999 ,
		                     -2px  2px 6px #fff ,
		                      2px -2px 6px #999 ,
		                     -2px -2px 6px #fff;}
		 50% { text-shadow:  2px  2px 6px #999 ,
												 -2px  2px 6px #fb0 ,
													2px  2px 6px #999 ,
												 -2px  2px 6px #fb0 ;}
		 100% { text-shadow:  2px  2px 6px #999 ,
		                     -2px  2px 6px #fb0 ,
		                      2px -2px 6px #999 ,
		                     -2px -2px 6px #ff9;}
		}
}//wrap

#category_button{
	position: absolute;
	height: 17vh;//12
	width: 100%;
	top: 11.5vh;//21>10>15>14>16>12
	text-align: center;
	@include webkit;
	.shop_sort{
		display: inline-block;
		vertical-align: middle;
		border: 3px darkslateblue solid;
		border-radius: 4vh;//1.6>4
		width: 29vw;//26>34
		height: 13vh;//11>15>16
		text-align: center;
		//top: 14vh;
		box-shadow: 0px 0px 28px 18px rgba(247,242,245,0.49) inset;
		font-size: 1.2rem;
	}
	.fas.fa-shopping-bag, .fas.fa-utensils,.fas.fa-cut{
		position: relative;
		top: 2vw;
		left: 0.5vw;//ハサミ縦並び対策
		font-size: 3.7rem;//8.2
	}
	.fas.fa-kiwi-bird.parent{
		position: relative;
		left: 1vw;
		top: 3vw;
		font-size: 3.6rem;
	}
	.fas.fa-kiwi-bird.kid1{
		position: relative;
		left: 0vw;
		top: 3vw;
		font-size: 1.9rem;
	}
	.fas.fa-kiwi-bird.kid2{
		position: relative;
		left: 1vw;
		top: 2vw;
		font-size: 1rem;
	}
}//category_button終わり

#thegate{
	position: absolute;
	width: 119%;
	height: 200%;
	background-color: gray;
	top: 0;
	left: 0;
	z-index: 100;
	@include webkit;
}
/*
div.tenants{
	position: absolute;
	width: 56px;
	height: 56px;
	border: 1px dotted green;
	border-radius: 50%;
	//background-image : url("images/settimissimo.png");
	background-size   : contain;
	background-position: 50%;
	background-repeat : no-repeat;
}
#s_img1{
	top: 5vh;
}
#petit{
	left: -15vw;
}
#burberry{
	left: -30vw;
    background-size: 210%;
    background-position-x: 48%;
    top: -5vh;
}

.build_circle{
	position: absolute;
	border: 1px red solid;
	color: red;
	left: 3vw;
	top: 3vh;
	width: 30vw;
	height: 30vw;
}*/

@media screen and (min-width: 600px) {
/* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */
	#pcsize{
		position: fixed;
		width: 100%;
		height: 100%;
		opacity: 1;
		background-color: $chic_style_color;
		color: $chic_accsentB;
		z-index: 1000;
		overflow: hidden
	}
}