<div class="whatishere_wrap">
	<div class="whatishere">
			<h5>What's this?</h5>
				<p>You can check all shops on the each street around Harajuku.<br>
				通り沿いの隠れた名店、ひと目で発見。お散歩サポートサイト</p>
				<br>
			<h5>News&Update</h5>
				<p>2021/5   DB更新, CatStreet&表参道 追加</p>
				<p>2021/4   DB作成</p>
				<p>2021/2   デプロイ</p>
				<br>
			<h5>ContactUs</h5>
				<h6>♦︎For Harajuku Guest </h6>
				<h6>-原宿で街歩きする方々へ-</h6>
				<p>please let us know if shops are out of business.<br>
				お店が変わっていたら教えてください。<br>
				すぐに最新の情報に反映します。</p>
				<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[ChangeShops]" class="mailto">email</a>
				<h6>♦︎For Shop owner</6h>
				<h6>-店舗・事業者さま︎-</6h>
				<p>(1)Shop Logo</p>
				<p>We can edit shop's name to logo soon.</p>
				<p>トップページの店舗名をロゴに変更可能となっております。</p>
				<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[Logos]" class="mailto">email</a>
				<p>(2)Photos</p>
				<p>It's available upload 5 imgs in the shop details.</p>
				<p>店舗の詳細欄に写真5点掲載可能です。<br>
				店舗入り口、お客様に見せたい商品・<br>
				お料理・サービスなどを送って頂ければ、<br>
				すぐに掲載させて頂きます。</p><br>
				<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[Imgs]" class="mailto">email</a>
				<p>(3)The hashtag-ハッシュタグ</p>
				<p>Also available add/edit hashtags in the shop details.</p>
				<p>店舗の詳細欄にハッシュタグがあります。<br>
				すぐにご希望のハッシュタグに変更可能となっております。<br>
				お気軽にお問い合わせください。</p><br>
		<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[Hash]" class="mailto">email</a>
	</div><!--whatishere終わり-->
</div><!--wrap終わり-->